<h1>Events#show</h1>

<p><%= @event.name %></p>
<p><%= @event.location %></p>
<p><%= @event.date_event %></p>
<p><%= @event.description %></p>
<% if logged_in? %>
<ul>
    <% @event.attendees.each do |attendee| %>
    <li><%= attendee.name %></li>
    <li><%= attendee.email %></li>
    <% end %>
</ul>
<% end %>
<% if @event.date_event > Time.now && !@event.attendees.include?(current_user)  %>
    <%= form_for @userevent do |f| %>

        <%= f.hidden_field :attended_event, :value => @event.id %>

        <%= f.submit "Register" %>
    <% end %>
<% end %>


